@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.loginWrap {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  // @media screen and (max-width: $break-small) {
  //   margin-top: 80px;
  // }
  @media screen and (max-width: $break-mini-mobile) {
    margin-top: 40px;
  }

  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    max-width: 560px;
    width: 100%;
  }

  .loginWordingWrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .loginWording {
    font-size: 1.5em;
    margin: 0px 0px 27px;
    font-weight: 800;
    text-align: left;
  }

  .emailpassword {
    width: 100%;
    font-size: 0.688em;
    margin: 0 0 18px;
  }
  .addressBox,
  .passwordBox {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e8e4e1;
    border-radius: 3px;
    padding: 16px 16px;
    font-size: 0.875em;
  }

  .LogInBttn {
    width: 100%;
    background-color: #f05d62;
    font-size: 1em;
    border-radius: 3px;
    padding: 10px 0;
    color: white;
    border-bottom: 2px solid #d84a55;
    margin-top: 30px;
  }

  .LogInBttn:hover {
    background-color: #e58384;
    border-bottom: 2px solid #d37479;
    transition: 0.4s background-color;
    cursor: pointer;
  }

  .forgot {
    text-align: center;
    padding: 24px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .forgot-1 {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .forgot-1:hover {
      color: #f05d62;
      transition: 0.4s color;
    }
    .social--Login {
      margin-top: 25px;
      padding: 10px;
    }
    .social-LoginWrap {
      margin: auto;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .socialLogin {
      height: 50px;
      width: 50px;
      border-radius: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      .imageCenter {
        height: 100%;
      }
      img {
        border-radius: 100%;
        width: 100%;
      }
    }
    .socialLogin:hover {
      border-color: #d84a55;
      transition: 0.4s border-color;
      cursor: pointer;
    }
  }
}
