@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.Main {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  padding: 0 12px;
  text-transform: uppercase;
  @media screen and (max-width: $break-medium) {
    display: block;
    padding: 0 12px;
    margin-top: 80px;
  }

  .Wrapper {
    max-width: 960px;
    .SliderWrapper {
      display: flex;
      @media screen and (max-width: $break-large) {
        display: block;
      }
      .Slider {
        border-bottom: 2px solid $headerBorder;
        width: 66.6%;
        text-align: center;
        @media screen and (max-width: $break-large) {
          width: 100%;
        }
        .SliderHeader {
          margin: 24px 0;
          .Title {
            color: $CategoryTitle;
            font-size: 16px;
            padding: 0 12px;
            line-height: 1.5;
            letter-spacing: 2px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .SliderBody {
          background-color: $sliderBox;
          .ImageWrap {
            position: relative;
          }
          .ImageCover {
            height: 415px;
            overflow: hidden;

            @media screen and (max-width: $break-large) {
              height: 520px;
            }
            @media screen and (max-width: $break-medium) {
              height: 400px;
            }
            @media screen and (max-width: $break-small) {
              height: 320px;
            }
            @media screen and (max-width: $break-mobile) {
              height: 260px;
            }
            @media screen and (max-width: $break-mini-mobile) {
              height: 180px;
            }
          }

          img {
            width: 100%;
          }
          .Indicator {
            position: absolute;
            width: 100%;
            bottom: 20px;
            z-index: 0;
            @media screen and (max-width: $break-small) {
              bottom: 12px;
            }
          }
          .Icon {
            color: #fff;
            font-size: 14px;
            margin: 0 10px;
            cursor: pointer;
            @media screen and (max-width: $break-small) {
              font-size: 12px;
            }
            i {
              // z-index: -9;
            }
          }
          .ButtonWrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: absolute;
            top: 45%;
            width: 100%;
            color: #fff;
            padding: 0 14px;

            i {
              font-size: 30px;
              cursor: pointer;

              @media screen and (max-width: $break-medium) {
                font-size: 26px;
              }
              @media screen and (max-width: $break-small) {
                font-size: 22px;
              }
            }
            i:hover {
              opacity: 0.8;
              transition: 0.3s all;
            }
          }

          .SliderDetail {
            padding: 16px 0;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .DetailCategory {
            font-size: 15px;
            height: 24px;
            line-height: 24px;
            font-weight: 600;
            color: $sliderCategory;

            @media screen and (max-width: $break-small) {
              font-size: 14px;
            }
          }
          .DetailTitle {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            display: inline-block;
            color: $headerFont;
            margin-top: 5px;
            width: 92%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @media screen and (max-width: $break-medium) {
              font-size: 19px;
              overflow: visible;
              text-overflow: inherit;
              white-space: normal;
            }
            @media screen and (max-width: $break-small) {
              font-size: 16px;
              margin-top: 0;
            }
          }
        }
      }
      .Widget {
        width: 33%;
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 40px;
        text-transform: none;
        @media screen and (max-width: $break-large) {
          width: 100%;
          max-width: 960px;
          flex-direction: row;
          margin: 0;
          padding-top: 40px;
          padding-left: 0;
        }
        @media screen and (max-width: $break-small) {
          flex-direction: column;
          padding-top: 30px;
        }
        .TrendingWidget,
        .RecentWidget {
          display: flex;
          flex-direction: column;
          text-align: center;
          padding: 0 10px;
        }
        .RecentWidget {
          @media screen and (max-width: $break-small) {
            padding: 30px 0 10px;
          }
        }

        .WidgetTitle {
          color: $CategoryTitle;
          font-size: 16px;
          padding: 0 12px;
          line-height: 1.5;
          letter-spacing: 2px;
          font-weight: 700;
          text-transform: uppercase;
        }

        .WidgetDetails {
          text-align: center;
          p {
            font-weight: 400;
            font-size: 15px;
            margin-top: 12px;
            line-height: 1.5;
            letter-spacing: 0.2;
          }
          a:hover {
            color: $menuHover;
            border-bottom: 1px solid $menuHover;
            transition: 0.4s color;
          }
        }
      }
    }

    .Recent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .RecentHeader {
        margin: 24px 0;
      }

      .Title {
        color: $CategoryTitle;
        font-size: 16px;
        padding: 0 12px;
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .Posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        max-width: 960px;
        @media screen and (max-width: $break-medium) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: $break-small) {
          display: block;
        }

        img {
          width: 100%;
          cursor: pointer;
        }

        .ContentDetail {
          padding: 10px 20px;
          .ContentCategory {
            font-size: 14px;
            color: $sliderCategory;
            font-weight: 600;
            text-align: center;
          }
          .ContentTitle {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            line-height: 24px;
          }
          a:hover {
            color: $menuHover;
            border-bottom: 1px solid $menuHover;
            transition: 0.4s color;
          }
        }
      }
    }
  }
}
