@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.Main {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  padding: 0 12px;
  text-transform: uppercase;
  @media screen and (max-width: $break-medium) {
    display: block;
    padding: 0 16px;
    margin-top: 90px;
  }

  .Wrapper {
    max-width: 960px;
    .Slider {
      text-align: center;
      border-bottom: 2px solid $headerBorder;

      .SliderHeader {
        margin: 24px 0;
      }

      .Title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.5;
      }

      .SliderWrap {
        cursor: pointer;
        background-color: $sliderBox;

        img {
          width: 100%;
        }
        .Indicator {
          margin-top: -30px;
        }
        .Icon {
          color: #fff;
          font-size: 14px;
          margin: 0 10px;
        }

        .SliderDetail {
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 12px;
        }
        .DetailCategory {
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          font-weight: 600;
          color: $sliderCategory;
          @media screen and (max-width: $break-small) {
            font-size: 16px;
          }
        }
        .DetailTitle {
          font-size: 24px;
          line-height: 28px;
          max-height: 56px;
          font-weight: 700;
          color: $headerFont;
          margin-top: 5px;
          @media screen and (max-width: $break-small) {
            font-size: 20px;
          }
        }
      }
    }
    .Recent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .RecentHeader {
        margin: 24px 0;
      }

      .Title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.5;
      }

      .Posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        max-width: 960px;
        @media screen and (max-width: $break-small) {
          display: block;
        }
        img {
          width: 100%;
          cursor: pointer;
        }

        .ContentDetail {
          padding: 10px 20px;
          .ContentCategory {
            font-size: 14px;
            color: $sliderCategory;
            font-weight: 600;
            text-align: center;
          }
          .ContentTitle {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            line-height: 24px;
          }
          a:hover {
            color: $menuHover;
            border-bottom: 1px solid $menuHover;
            transition: 0.4s color;
          }
        }
      }
    }
  }
}
