// Header
$headerBG: #eeecea;
$headerBorder: #e8e4e1;
$headerFont: #2f3237;
$headerLogin: #f05d62;
$headerLoginBorder: #d84a55;
$headerLoginHover: #e58384;
$headerLoginHoverBorder: #d37479;
$headerSignupHover: #fff1e9;
$searchFont: #847c78;
$menuHover: #10b8e5;
$menuBorder: #96908c;
$logo: #5e4d4c;

// Main
$sliderBox: #f2f1ef;
$sliderCategory: #96908c;
$Readmore: #a9a3a0;
$ReadmoreBorder: #e8e4e1;
$ReadmoreHover: #5fccc8;
$CategoryTitle: #5e4c4c;

// About
$AboutBorder: #6a615f;
