// Header
$headerBG: #eeecea;
$headerBorder: #e8e4e1;
$headerFont: #2f3237;
$headerLogin: #f05d62;
$headerLoginBorder: #d84a55;
$headerLoginHover: #e58384;
$headerLoginHoverBorder: #d37479;
$headerSignupHover: #fff1e9;
$searchFont: #847c78;
$menuHover: #10b8e5;
$menuBorder: #96908c;

// Main
$sliderBox: #f2f1ef;
$sliderCategory: #96908c;
