@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.Stitch_Container {
  margin-top: 110px;
  display: flex;
  align-items: center;

  .page_Body {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
  }
  .body_Left {
    width: 65%;

    .title_Left {
      text-align: center;
      height: 100%;
    }
  }
  .recent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #5e4c4c;
  }
  .fashionTips {
    padding: 36px 0;
    border-top: 2px solid #e8e4e1;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2f3237;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fashionTips_3 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }

  .articles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .thumbnail {
      width: 30%;
      display: flex;
      justify-content: flex-start;
    }
  }
  .entry {
    width: 90%;
    display: flex;
  }

  .entry-category {
    font-size: 14px;
    color: #96908c;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    font-weight: 800;
  }
  .entry-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .articleTitle:hover {
    border-bottom-color: $menuHover;
    border-bottom: 1px solid $menuHover;
    transition: 0.4s border-bottom-color;
  }

  .body_Right {
    width: 35%;
    padding: 68px 0 24px;

    .trending {
      width: 100%;
      padding: 0 12px 24px;
      text-align: center;
    }
    .nomoreTrending {
      padding: 20px 0;
      height: 50px;
      font-weight: 600;
      letter-spacing: 2px;
      color: #5e4c4c;
    }
    .trendingNow {
      width: 90%;
      height: 104px;
      margin: auto;
      font-size: 14px;
      line-height: 2;
      color: #2f3237;
    }
    .trendingNow a:hover {
      color: $menuHover;
      border-bottom: 1px solid $menuHover;
      transition: 0.4s color;
    }

    .nomoreTrending2 {
      padding: 20px 0;
      height: 50px;
      font-weight: 600;
      letter-spacing: 2px;
      color: #5e4c4c;
      margin-top: 60px;
    }
  }
}
