@import '../../styles/theme.scss';
@import '../../styles/media.scss';

.Header {
  padding: 22px 18px;
  background-color: $headerBG;
  border-bottom: 2px solid $headerBorder;
  height: 110px;
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  z-index: 99;
  @media screen and (max-width: $break-medium) {
    height: 60px;
    padding: 12px 22px 12px 14px;
  }

  .Wrapper {
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logo {
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $break-medium) {
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      width: 140px;
      @media screen and (max-width: $break-small) {
        width: 120px;
      }
    }
  }

  .Bars {
    cursor: pointer;
    display: none;
    color: $logo;
    .BarsBtn {
      font-size: 20px;
    }
    @media screen and (max-width: $break-medium) {
      display: block;
    }
  }

  .Menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  .MenuList {
    font-weight: 600;
    border-left: 1px solid $menuBorder;
    margin-top: 8px;
    margin-left: 15px;
    padding: 0 10px;
    padding-left: 25px;
  }

  .MenuList:first-child {
    border: none;
    margin-left: 0;
    padding-left: 0;
  }

  .MenuList a {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    color: $headerFont;
  }

  .MenuList a:hover {
    color: $menuHover;
    border-bottom: 1px solid $menuHover;
    transition: 0.4s color;
  }

  .LoginWrap {
    position: absolute;
    font-size: 13px;
    line-height: 18px;
    right: 12px;
    text-align: center;
    top: -1px;
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  .Login {
    width: 190px;
    color: #fff;
    font-weight: 600;
    padding: 4px 16px;
    border-bottom: 2px solid $headerLoginBorder;
    background-color: $headerLogin;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .Login:hover {
    background-color: $headerLoginHover;
    border-bottom: 2px solid $headerLoginHoverBorder;
    transition: 0.4s background-color;
  }

  .Signup {
    color: $headerLogin;
    background-color: #fff;
    padding: 6px 18px;
    border: 1px solid $headerLoginBorder;
    font-weight: 600;
    cursor: pointer;
  }
  .Signup:hover {
    background-color: $headerSignupHover;
    transition: 0.4s background-color;
  }
  .BarsMenu {
    width: 100%;
    left: 0px;
    top: -100%;
    height: 100%;
    transition: top 0.35s;
    position: fixed;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid $headerBorder;
    .BarsHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      span {
        font-size: 13px;
        margin-left: 24px;
        letter-spacing: 0.5px;
      }
      a {
        font-size: 12px;
      }
      i {
        font-size: 24px;
      }
    }
    .CloseBtnWrap {
      padding: 21px;
      text-align: center;
      border-left: 1px solid $headerBorder;
      cursor: pointer;
    }
    .ListWrap {
      display: flex;
      flex-direction: column;
      .Category {
        height: 62px;
        border-bottom: 1px solid $headerBorder;
        display: flex;
        align-items: center;
        padding: 24px;
        cursor: pointer;
        font-weight: 800;
        font-size: 16px;
      }
      .Category:first-child {
        border-top: 1px solid $headerBorder;
      }
    }
  }
  .BarMenuFocus {
    top: 0;
    transition: top 0.35s;
  }
}
